@import '../../utils';

.reset-password-confirm-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $body;

    .res-pas-conf-success-message {
        font-size: 24px;
        margin-bottom: 30px;
    }

    a {
        margin-top: 20px;
        width: 200px;
        text-align: center;
        background: $purple;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 0.1px $purple solid;
        font-size: 14px;
        cursor: pointer;
        font-family: $body;
        letter-spacing: 1px;
    }

    h1 {
        margin-bottom: 30px;
    }

    button {
        margin-top: 20px;
        width: 100%;
        background: $purple;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 0.1px $purple solid;
        font-size: 14px;
        cursor: pointer;
        font-family: $body;
        letter-spacing: 1px;
    }
}