a {
    text-decoration: none;


    .wap-section {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Spartan', sans-serif;
        background-image: url('./img/element5-digital-WCPg9ROZbM0-unsplash.jpg');
        background-size: cover;
        background-position: center;
        cursor: pointer;
    
    
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.0);
            transition: all 0.5s ease-in-out;
        }
    
        .wap-baner {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            z-index: 1;
            position: relative;
    
            h1 {
                font-size: 5rem;
                letter-spacing: 4px;
                color: white;
                opacity: 0;
                padding-top: 150px;
                transition: all 0.5s ease-in-out;
    
            }
        }

        .wap-svg-container {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: flex-end;
            padding-right: 200px;
            padding-bottom: 50px;
            opacity: 0;


            .wap-strelka-icon {
                position: absolute;
                margin-right: 100px;
                margin-bottom: 10px;
                transition: all 0.3s ease-in-out;
            }

            .wap-circus-icon {
                position: relative;
                padding-top: 9px;
                transition: all 0.2s ease-in-out;
            }
        }
    
        &:hover {
    
            h1 {
                opacity: 1;
            }

            .wap-svg-container {
                opacity: 1;
            }

            .wap-strelka-icon {
                transform: translateX(70px);
              }
    
            &::before {
                background-color: rgba($color: #000000, $alpha: 0.2);
            }
    
        }


    
    }

}

