.special-offer-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    font-family: 'Spartan', sans-serif;
    background: rgb(250, 250, 250);


    .special-offer-section-img-container, 
    .special-offer-section-text-and-button-container {
        width: 50vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-top: 200px;
    }

    .special-offer-section-img-container {

        img {
            position: absolute;
            width: 400px;
            height: 420px;
        }

        .spof-img-background {
            position: relative;
            width: 400px;
            height: 420px;
            background-color: #E2F3F0;
            margin-top: 40px;
            margin-right: 50px;
        }
    }

    .special-offer-section-text-and-button-container {

        align-items: flex-end;
        .spof-text-container {
            width: 500px;
            font-size: 2rem;
            letter-spacing: 2px;
            text-align: left;
            margin-right: 50px;
            margin-top: 60px;
        }

        .spof-button-container {
            width: 500px;
            display: flex;
            justify-content: center;
            padding-top: 100px;

            a {
                width: 250px;
                font-size: 1.2rem;
                padding: 20px 30px;
                background-color: #2b2b2b;
                color: white;
                cursor: pointer;
                border-radius: 10px;
                transition: all 0.5s ease-in-out;
                text-decoration: none;
                margin-right: 200px;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }

}