@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Philosopher&family=Prata&family=Spartan&display=swap');


// colors
$brown: #F8CB97;
$pink: #FFF2EE;
$blue: #7087C3;
$purple: #7B7297;
$grey: rgba(187, 187, 187, 0.534);
$tilt: rgb(176, 210, 248);
$cherry: #FFB8B8;


// fonts 
$header: 'Libre Caslon Display', serif;
$headerTwo: 'Prata', serif;
$body: 'Spartan', sans-serif;
$logo: 'Philosopher', sans-serif;

