@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Philosopher&family=Prata&family=Spartan&display=swap');

/* 
    font-family: 'Libre Caslon Display', serif;
    font-family: 'Prata', serif;
    font-family: 'Spartan', sans-serif;
    font-family: 'Philosopher', sans-serif;
   */

::-webkit-scrollbar{
    width: 6px;

}

::-webkit-scrollbar-track{
    background-color: rgba(255, 0, 0, 0);
    margin-block: .1em;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(95, 95, 95);
    border-radius: 50px;
}

