@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  overflow-y: scroll;
}

.fonts {
  font-family: 'Waiting for the Sunrise';
  font-family: 'Spartan', sans-serif;
  font-family: 'Marcellus', serif;
  font-family: 'Raleway', sans-serif;
}
