.section-hello {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Varela', sans-serif;
    background: rgb(209, 136, 68);


    .hello-section-img-container, 
    .hello-section-text-container {
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }



}