@import '../../utils';

.res-pas-forms-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;

    .message-for-user {
        width: 100%;
        text-align: center;
        font-size: 12px;
        margin: 0px 0 15px 0;

    }

    .success-message {
        color: rgb(29, 230, 106);
        padding-top: 10px;
        font-size: 12px;
    }
}

.res-pas-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        margin-top: 20px;
        width: 250px;
        background: $purple;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 0.1px $purple solid;
        font-size: 14px;
        cursor: pointer;
        font-family: $body;
        letter-spacing: 1px;

        &:hover {
            opacity: 0.8;
        }
    }
  }

