.baner-container {
    border: 1px black solid;
    width: 26rem;
    height: 28rem;
    float: right;
    margin-top: 80px;
    margin-right: 241px;
    position: relative;

    .text {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: inherit;
    }





}